body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #4b9336;
    color: #462102; /* Text color */
    margin: 0;
    background: url("background.png");
    background-size: cover;
}
#board {
    width: 540px;
    height: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}
#board div {
    /* board = 540 x 540, divide into 3x3 tiles (180 x 180) per div */
    width: 180px; 
    height: 180px;
    background-image: url("./hole.png");
    background-size: cover;
}
#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;
    /* the image will not be dragged*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(52, 219, 108);
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}