body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    background: url("background.png");
    background-size: cover;
    color: #462102; /* Text color */
}

#board {
    width: 540px;
    height: 540px;
    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    background: url("grass.png");
    background-size: cover;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 180px;
    background-image: url("soil.png");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(52, 219, 108);
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

